#container {
   font-family: "Fira Code Retina";
    font-size: 22px;
}
#stats {
    max-width: 50%;
    float: left;
    border: solid;
    padding: 10px;
    margin: 10px;
}
#customer {
    border: solid;
    padding: 10px;
    margin: 10px;
    max-width: 50%;
    display: inline-block;
}
div {
    margin: 15px;
    padding: 10px;
}
button {
    background-color: #4bc970;
    color: #FFF;
    border-radius: 5px;
    font-size: 17px;
}
#statTable1 {

}
#statTable2 {
    font-size: 25px;
}